.link {
    position: absolute;
    height: 20px;
    transform-origin: center left;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--compass-highlight-red) transparent transparent transparent;
    border-radius: 200% / 100px 100px 0 0;

    &.scoring {
        border-width: 3px;
        border-style: solid;
    }
}
