.vertix {
    position: absolute;
    width: calc(var(--vertix-size) * 0.9);
    height: calc(var(--vertix-size) * 0.9);
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%);

    &.clickable {
        cursor: pointer;
        &:hover {
            border: 1px dashed var(--compass-highlight-blue);
            transition: all 0.2s ease-in-out;
        }
    }

    &.scoring {
        border-radius: 20%;
        box-shadow: 0 0 10px var(--compass-highlight-red);
        transform: scale(1.15) translate(-40%, -40%);
    }

    &.empty {
        opacity: 0.75;
        line-height: 15px;
        font-family: 'Pirata One', system-ui;
        font-weight: lighter;
        font-style: normal;
        font-size: 2.5em;
        color: var(--compass-highlight-red);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
