.vertix {
    position: absolute;
    width: var(--vertix-size);
    height: var(--vertix-size);
    // width: calc(var(--vertix-size) * 0.9);
    // height: calc(var(--vertix-size) * 0.9);
    transform: translate(-50%, -50%);
    transition:
        transform 0.2s ease-in-out,
        border 0.2s ease-in-out;
    border-radius: 10px;
    border: 1px dashed transparent;

    &.clickable {
        cursor: pointer;
        &:hover {
            border: 1px dashed var(--compass-black);
            transition: all 0.2s ease-in-out;
        }
    }

    &.scoring {
        box-shadow: 0 0 10px var(--compass-light-gray);
        transform: scale(1.2) translate(-40%, -40%);
    }

    &.empty {
        line-height: 15px;
        font-family: 'Pirata One', system-ui;
        font-weight: lighter;
        font-style: normal;
        font-size: 2.5em;
        color: var(--compass-black);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.vertix-image {
    position: absolute;
    // filter: opacity(0.5);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(0.75);
    transform-origin: center;
}
