.vertix {
    position: absolute;
    width: var(--vertix-size);
    height: var(--vertix-size);
    border-radius: 40%;
    transform: translate(-50%, -50%);

    &.clickable {
        cursor: pointer;
        &:hover {
            background-color: var(--compass-highlight-blue);
            box-shadow: 0 0 10px var(--compass-highlight-blue);
            transition: all 0.2s ease-in-out;
        }
    }

    &.score {
        animation: score-animation 0.5s ease-in-out;
    }

    &.empty {
        // border: var(--compass-highlight-red) 3px dashed;
        // background-color: var(--compass-secondary);
        opacity: 0.75;
        line-height: 15px;
        font-family: 'Pirata One', system-ui;
        font-weight: lighter;
        font-style: normal;
        font-size: 3em;
        color: var(--compass-highlight-red);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes score-animation {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.25) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        box-shadow: 0 0 10px var(--compass-highlight-blue);
    }
}
