.card-box {
    width: var(--card-size);
    position: relative;
    overflow: hidden;
    border: 2px solid var(--compass-card-border);
    transition: all 0.2s ease-in-out;

    background-color: var(--compass-card-background);
    border-radius: 12px;
    &.show {
        animation: show_card var(--cards-animation-duration) ease-in-out forwards;
    }
    &.hide {
        animation: hide_card var(--cards-animation-duration) ease-in-out forwards;
    }
    &.selected {
        z-index: -1;
        scale: 1.2;
        box-shadow: 0 0 10px 10px var(--compass-white);
    }
}

@keyframes show_card {
    0% {
        transform: scale(0) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(0deg);
    }
}
@keyframes hide_card {
    0% {
        transform: scale(1) rotateZ(0deg);
    }
    100% {
        transform: scale(0) rotateZ(180deg);
    }
}
@media (prefers-reduced-motion: reduce) {
    .card-box {
        animation: none;
    }
}

.card-box:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    & .covered {
        background-color: var(--compass-card-cover-background);
    }
}

.background-cover-image {
    width: 100%;
    background-image: url(/src/assets/card-cover.png);
    height: 100%;
    position: absolute;
    top: 0;
    background-size: contain;
}

.direction-initials {
    display: flex;
    line-height: 15px;
    padding: 2px;

    color: var(--compass-white);
    text-shadow: 1px 1px 0 var(--compass-black);

    font-family: 'Pirata One', system-ui;
    font-weight: lighter;
    font-style: normal;
    font-size: small;
}
