#home-button-confirmation-modal {
    background-color: transparent;
    font-family: 'Pirata One';

    .confirm-button {
        background-color: var(--compass-highlight-red);
        color: var(--compass-light-gray);
    }
}
