.board-box {
    width: 100%;
    position: relative;
    & .show {
        animation: fade-in calc(3 * var(--screen-transitions)) ease-in-out forwards;
    }
}

@keyframes fade-in {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

.board-box:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.board-square {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.board-content {
    position: relative;
    height: 100%;
}
