.card-box {
    width: var(--card-size);
    position: relative;
    overflow: hidden;

    background-color: var(--compass-tertiary);
    border-radius: 12px;
    &.show {
        animation: show_card var(--cards-animation-duration) ease-in-out forwards;
    }
    &.hide {
        animation: hide_card var(--cards-animation-duration) ease-in-out forwards;
    }
    &.selected {
        box-shadow: 0 0 15px var(--compass-highlight-red);
        transition: all 0.2s ease-in-out;
    }
}

@keyframes show_card {
    0% {
        transform: scale(0) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(0deg);
    }
}
@keyframes hide_card {
    0% {
        transform: scale(1) rotateZ(0deg);
    }
    100% {
        transform: scale(0) rotateZ(180deg);
    }
}
@media (prefers-reduced-motion: reduce) {
    .card-box {
        animation: none;
    }
}

.card-box:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(0.5);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.needle-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2px;
    border-radius: 12px;
    display: flex;
    color: var(--compass-highlight-red);

    border: 2px solid var(--compass-primary);
    padding: 2px;
}

.abbreviation {
    display: flex;
    line-height: 15px;

    font-family: 'Pirata One', system-ui;
    font-weight: lighter;
    font-style: normal;
    font-size: large;
}

// [data-needle-direction='north'] {
//     // transform: translate(-50%, -50%) rotate(0);
//     animation: north_wiggle 200ms alternate infinite;
// }

// @keyframes north_wiggle {
//     from {
//         transform: translate(-50%, -50%) rotate(-2.5deg);
//     }
//     to {
//         transform: translate(-50%, -50%) rotate(2.5deg);
//     }
// }
