.background {
    height: 100%;
    position: absolute;

    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-origin: content-box;
    background-size: auto;
    background-position: center;
    transition: all ease-in-out var(--screen-transitions);
    filter: opacity(1) brightness(1);

    &.game-running,
    &.level-editor {
        filter: opacity(0.75) brightness(1.5) blur(1px) sepia(80%);
    }

    &.game-running {
        background-position: right;
    }
    &.level-editor {
        background-position: left;
    }
}

.game-container {
    height: 100svh;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
}

.game-container-screen {
    transition: transform ease var(--screen-transitions);
    &.show {
        animation: game-screeen-show var(--screen-transitions) ease-in-out forwards;
    }
}

@keyframes game-screeen-show {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.level-editor {
    transition: transform ease var(--screen-transitions);
    &.show {
        animation: level-editor-show var(--screen-transitions) ease-in-out forwards;
    }
}

@keyframes level-editor-show {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.setup-screen {
    transition: transform ease var(--screen-transitions);
    &.show-from-left {
        animation: setup-screen-show-from-left var(--screen-transitions) ease-in-out forwards;
    }
    &.show-from-right {
        animation: setup-screen-show-from-right var(--screen-transitions) ease-in-out forwards;
    }
}

@keyframes setup-screen-show-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes setup-screen-show-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
