.background {
    height: 100%;
    position: absolute;

    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-origin: content-box;
    background-size: auto;
    background-position: left;
    transition: all ease var(--screen-transitions);
    filter: opacity(1) brightness(1);

    &.game-running {
        filter: opacity(0.75) brightness(1.5) blur(1px) sepia(80%);
        background-position: right;
    }
}

.game-container {
    height: 100svh;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;

    // &:before {
    //     content: ' ';
    //     position: absolute;
    //     z-index: 1;
    //     top: 15px;
    //     left: 15px;
    //     right: 15px;
    //     bottom: 15px;
    //     border-style: solid;
    //     border-color: #b06e26;
    //     border-width: 3px;
    // }

    // &:after {
    //     content: ' ';
    //     position: absolute;
    //     z-index: 1;
    //     top: 5px;
    //     left: 5px;
    //     right: 5px;
    //     bottom: 5px;
    //     border-style: solid;
    //     border-color: #b06e26;
    //     border-width: 3px;
    // }
}
