#game-announcement-modal {
    .modal-content {
        background-color: var(--compass-light-gray);
        border: 2px solid var(--bs-dark);
        border-radius: 1rem;
        box-shadow: 0 0 10px var(--compass-black);
        padding: 2rem;
        color: var(--bs-dark);
        font-family: 'Pirata One';
        font-size: 2rem;
        font-weight: lighter;
        font-style: normal;
    }
}
