.header {
    background-color: var(--compass-header-background);
    width: 100%;
    align-items: center;
    color: white;
    border: 1px solid var(--compass-dark-gray);
    border-top: none;
    border-bottom: none;
    font-family: 'Pirata One', system-ui;
    font-weight: lighter;
    font-style: normal;
    z-index: 1;
    height: fit-content;

    & .button {
        background-color: transparent;
        box-shadow:
            inset 1px 1px white,
            inset -1px -1px white;
        color: white;
        padding: 2px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 4px;

        &:hover,
        &:active {
            box-shadow:
                inset 2px 2px white,
                inset -2px -2px white;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px var(--bs-secondary-light);
        }
    }

    & .level-name {
        font-size: 1.2rem;
        color: var(--bs-secondary-text);
        margin-left: 10px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Pirata One', system-ui;
        display: block;
        width: 100%;
    }
}
