.header {
    background-color: var(--compass-header-background);
    width: 100%;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;

    & .menu {
        min-height: 40px;
    }

    & .button {
        background-color: transparent;
        box-shadow:
            inset 1px 1px white,
            inset -1px -1px white;
        color: white;
        padding: 2px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 4px;

        &:hover,
        &:active {
            box-shadow:
                inset 2px 2px white,
                inset -2px -2px white;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px var(--bs-secondary-light);
        }
    }

    & .level-name {
        font-size: 20px;
        color: var(--bs-secondary-text);
        margin-left: 10px;
    }
}
