.grapheditor-container {
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.grapheditor-container canvas {
    background-color: transparent !important;
    box-shadow: 3px 3px 13px var(--compass-medium-gray) !important;
    padding: 10px !important;
}
