* {
    font-family: 'Pirata One', system-ui;
    font-style: normal;
}

label {
    font-size: 1.5rem;
}
p {
    font-size: 1.25rem;
}

label,
p,
h1,
i.bi-info-circle-fill {
    font-weight: lighter;
    text-shadow: 3px 3px 1px var(--compass-primary);
}

.leveleditor-container {
    padding: 1rem;
}
