.level-editor {
    background-color: var(--compass-light-gray);
    border: 2px solid var(--compass-dark-gray);
    border-radius: 4px;
    box-shadow: 5px 5px 10px var(--compass-dark-gray);

    .title {
        font-family: 'Pirata One', system-ui;
        font-style: normal;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 900;
        width: 80%;
        color: var(--compass-black);
        text-shadow: 3px 3px 1px var(--compass-medium-gray);
        padding-bottom: 5px;
        border-bottom: 1px solid var(--compass-dark-gray);
        margin-bottom: 15px;
    }

    label {
        font-family: 'Pirata One', system-ui;
        font-style: normal;
        font-size: 1.15rem;
        font-weight: 900;
        color: var(--compass-black);
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
    }

    .invalid-message {
        text-align: start;
        color: var(--compass-highlight-red);
    }

    // label {
    //     font-size: 1.5rem;
    // }
    // p {
    //     font-size: 1.25rem;
    // }

    // label,
    // p,
    // h1,
    // i.bi-info-circle-fill {
    //     font-weight: lighter;
    //     text-shadow: 3px 3px 1px var(--compass-primary);
    // }

    // .leveleditor-container {
    //     padding: 1rem;
    // }
}
